.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/15/50f73c0bb933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/16/e09ff763c73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/1d/40292612ca3300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/20/20d2fc6dc83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/21/00005c9eb733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/24/c02912c5c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/26/30b47be6b633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/2c/6061a4d3c83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/2e/10ef9d51b933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/2f/a0c0b917b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/32/4043bc9ec93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/34/e09e4e11d33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/36/6060003db933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/37/c0381c68c63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/38/e035cf3cc73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/3a/00746a4db833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/3a/40624f9dc83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/3b/9051c11cd93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/3e/20a8ddfdb833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/3e/a0bd8321c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/3f/a0016a66d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/4/80da2ae3c13300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/42/1074df5cc93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/42/10c2ee6ab833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/42/e03010fdb633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/44/100b0ec5c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/44/80d1d5abb633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/46/f08b961ec73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/48/8011e410b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/4a/40c5bc31b933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/4b/c0961026d93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/4c/40657292d53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/4f/e0c47444d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/5/a08bfc00ca3300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/50/e0588fcfc93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/55/00ae79b8b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/55/70b9659eb633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/56/2060f930b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/56/60ac0570c63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/5d/c0b49e76d23300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/63/105827e3c13300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/65/10c8f840d73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/65/b07134e5b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/66/308831b6b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/67/007731c9b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/68/00b946d5c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/6a/30c4d7f2b633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/6a/d057a008d73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/6e/608d36d5b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/6f/80275838d93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/70/503ef1bcb633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/72/b0852abdd53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/76/100d348dd83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/76/50f20724d53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/78/e059539dc83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/7b/b00b1dfdc23300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/7d/10ba9e9ed23300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/7d/a0dcf176b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/7e/20a310c5c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/7e/c084d55fd83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/7f/b0d97fa5b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/80/d08fa2dab633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/81/d0fa1401b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/86/e058250d153300161902bd676cd27ec3
.metadata/.plugins/org.eclipse.core.resources/.history/88/00ae6398b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/88/808bfc7ec63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/8a/80e08521c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/94/80dd775bb833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/98/10672723b933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/9c/2036a6d3c83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/9c/f0254bb1b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/a4/f01bdcb3b633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/a5/40084ab9b633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/a6/c03238b4c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/a8/808cdcbfb833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/a8/f01a7f06d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/a9/d08b5edbc13300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ab/40ce88ecd83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ab/70620370c63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ae/501fcb48d93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ae/9093e319b933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/b/d07c0584b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/b/d0e3a7d3c83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/b0/d07016c6b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/b3/601e4dc1b633001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/b3/e0a6e702d73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/b4/c0e91e10d93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/b5/809bda2dd93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/c0/705cfb03b933001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/c1/e07dbc2fb833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/c6/101cff6dc83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/c8/9023df8ab733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/ca/70761bf7b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/cf/2048378e1b3300161902bd676cd27ec3
.metadata/.plugins/org.eclipse.core.resources/.history/cf/d0674622b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/d1/0079496ac63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/d6/10fb8d4cd63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/d7/409ae1c0d53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/da/10b4406fd93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/dd/2013aff8d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/df/30ac519dc83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/df/d03ad35fd83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/e2/70b53cded53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/e6/d0b1195fb733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/e6/f0aed0d9b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/eb/d0b34527b733001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/ec/d0362822ca3300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ee/102f476ac63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/ef/a09f8821c33300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/f/00838de3b833001612b1be593143f091
.metadata/.plugins/org.eclipse.core.resources/.history/f/104551d3d83300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/f0/10f31d22c93300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/f1/90c94f14d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/f9/00cf6bf5d63300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/fa/b0166406c73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/fd/30a5f640d73300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.history/fe/a0fe66f4d53300161323a9d54748c4ff
.metadata/.plugins/org.eclipse.core.resources/.projects/First_Eclipse/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/First_Eclipse/.indexes/e4/97/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/First_Eclipse/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/First_Eclipse/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/CompileShaderNVidia.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FirstEclipse.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1240664241.index
.metadata/.plugins/org.eclipse.jdt.core/1430085826.index
.metadata/.plugins/org.eclipse.jdt.core/1478565417.index
.metadata/.plugins/org.eclipse.jdt.core/1484076330.index
.metadata/.plugins/org.eclipse.jdt.core/1507339265.index
.metadata/.plugins/org.eclipse.jdt.core/1591337505.index
.metadata/.plugins/org.eclipse.jdt.core/1651349548.index
.metadata/.plugins/org.eclipse.jdt.core/1670528678.index
.metadata/.plugins/org.eclipse.jdt.core/1948745554.index
.metadata/.plugins/org.eclipse.jdt.core/19615711.index
.metadata/.plugins/org.eclipse.jdt.core/2261558828.index
.metadata/.plugins/org.eclipse.jdt.core/279285247.index
.metadata/.plugins/org.eclipse.jdt.core/2865500595.index
.metadata/.plugins/org.eclipse.jdt.core/2942547685.index
.metadata/.plugins/org.eclipse.jdt.core/2945162093.index
.metadata/.plugins/org.eclipse.jdt.core/326336266.index
.metadata/.plugins/org.eclipse.jdt.core/3421082127.index
.metadata/.plugins/org.eclipse.jdt.core/3505922019.index
.metadata/.plugins/org.eclipse.jdt.core/3520476786.index
.metadata/.plugins/org.eclipse.jdt.core/3678980623.index
.metadata/.plugins/org.eclipse.jdt.core/3764404749.index
.metadata/.plugins/org.eclipse.jdt.core/3768365915.index
.metadata/.plugins/org.eclipse.jdt.core/3876561862.index
.metadata/.plugins/org.eclipse.jdt.core/3930511455.index
.metadata/.plugins/org.eclipse.jdt.core/3943061966.index
.metadata/.plugins/org.eclipse.jdt.core/4142306923.index
.metadata/.plugins/org.eclipse.jdt.core/4236009997.index
.metadata/.plugins/org.eclipse.jdt.core/430205200.index
.metadata/.plugins/org.eclipse.jdt.core/47423239.index
.metadata/.plugins/org.eclipse.jdt.core/509712851.index
.metadata/.plugins/org.eclipse.jdt.core/802893413.index
.metadata/.plugins/org.eclipse.jdt.core/83085761.index
.metadata/.plugins/org.eclipse.jdt.core/885695369.index
.metadata/.plugins/org.eclipse.jdt.core/900771366.index
.metadata/.plugins/org.eclipse.jdt.core/9247402.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.debug.ui/stackTraceConsole.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/First_Eclipse/2016/6/24/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/First_Eclipse/2016/6/24/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/7a82892d4329c2199ce94c5a485c2e54/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/7a82892d4329c2199ce94c5a485c2e54/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/7a82892d4329c2199ce94c5a485c2e54/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/7a82892d4329c2199ce94c5a485c2e54/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/version.ini
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_4
First_Eclipse/.classpath
First_Eclipse/.project
First_Eclipse/.settings/PROJECT_PREFS_NODE.prefs
First_Eclipse/bin/firsteclipse/FirstEclipse.class
First_Eclipse/bin/firsteclipse/Glv.class
First_Eclipse/bin/firsteclipse/ManageBoxes.class
First_Eclipse/bin/firsteclipse/MyBox.class
First_Eclipse/lib/base/core/core.jar
First_Eclipse/lib/base/core/export.txt
First_Eclipse/lib/base/core/gluegen-rt-natives-linux-amd64.jar
First_Eclipse/lib/base/core/gluegen-rt-natives-linux-armv6hf.jar
First_Eclipse/lib/base/core/gluegen-rt-natives-linux-i586.jar
First_Eclipse/lib/base/core/gluegen-rt-natives-macosx-universal.jar
First_Eclipse/lib/base/core/gluegen-rt-natives-windows-amd64.jar
First_Eclipse/lib/base/core/gluegen-rt-natives-windows-i586.jar
First_Eclipse/lib/base/core/gluegen-rt.jar
First_Eclipse/lib/base/core/jogl-all-natives-linux-amd64.jar
First_Eclipse/lib/base/core/jogl-all-natives-linux-armv6hf.jar
First_Eclipse/lib/base/core/jogl-all-natives-linux-i586.jar
First_Eclipse/lib/base/core/jogl-all-natives-macosx-universal.jar
First_Eclipse/lib/base/core/jogl-all-natives-windows-amd64.jar
First_Eclipse/lib/base/core/jogl-all-natives-windows-i586.jar
First_Eclipse/lib/base/core/jogl-all.jar
.metadata/
.recommenders/
First_Eclipse/GeneratedData/
VGAtoForm/GeneratedData/
SavedData/
First_Eclipse/AnalysisData/0_12_340.65067.csv
First_Eclipse/AnalysisData/0_12_360.4418.csv
First_Eclipse/AnalysisData/0_12_367.81998.csv
First_Eclipse/AnalysisData/0_12_43.47582.csv
First_Eclipse/AnalysisData/0_15_126.2039.csv
First_Eclipse/AnalysisData/0_15_171.35774.csv
First_Eclipse/AnalysisData/0_16_357.7854.csv
First_Eclipse/AnalysisData/0_17_188.5645.csv
First_Eclipse/AnalysisData/0_20_108.701195.csv
First_Eclipse/AnalysisData/0_21_193.85033.csv
First_Eclipse/AnalysisData/0_30_107.35652.csv
First_Eclipse/AnalysisData/0_1131_253.56476.csv
First_Eclipse/AnalysisData/0_130_256.2206.csv
First_Eclipse/AnalysisData/0_24_339.2232.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRata_0.0004.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRata_0.0004_BiggerHiddenLayer.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.0004.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.001.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.003.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.005.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.01.csv
First_Eclipse/AnalysisData/0_280_254.04048_LearningRate_0.01_ANALYSIS.xlsx
First_Eclipse/AnalysisData/0_300_259.50607.csv
First_Eclipse/AnalysisData/0_80_267.07626.csv
First_Eclipse/AnalysisData/2_1131_253.56476.csv
First_Eclipse/NetworkSettings/0_5_302.92108/neuralNetwork.csv
First_Eclipse/NetworkSettings/0_80_267.07626/neuralNetwork.csv
First_Eclipse/AnalysisData/
